<a href="https://colab.research.google.com/github/chavamoon/MachineLearningExamples/blob/main/Python/Regression/DecisionTree_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Laboratorio de Regresión

Contamos con los datos de temperatura y humedad de varios aparatos eléctricos y electrónicos -appliances- de varios hogares de una región de Bélgica recolectados por cuatro meses y medio cada 10 minutos. 

Queremos predecir el consumo de energía en Wh que un aparato eléctrico/electrónico tendrá en cierto momento, esta variable corresponde a la variable -appliances-.

El conjunto de datos tiene las siguientes variables:

* date: Año, mes, día, hora, minuto y segundo del evento
* appliances: Energía utilizada en Wh
* lights: Energía utilizada en luz por la casa en Wh
* T1: Temperatura en la cocina en grados celsius 
* RH_1: Humedad en la cocina en porcentaje 
* T2: Temperatura en la sala en grados celsius
* RH_2: Humedad en la sala en porcentaje
* T3: Temperatura en el cuarto de lavado en grados celsius
* RH_3: Humedad en el cuarto de lavado en porcentaje
* T4: Temperatura en el cuarto de oficina en grados celsius
* RH_4: Humedad en el cuarto de oficina en porcentaje
* T5: Temperatura en el baño en grados celsius
* RH_5: Humedad en el baño en porcentaje 
* T6: Temperatura afuera del edificio (lado norte) en grados celsius
* RH_6: Humedad afuera del edificio (lado norte) en porcentaje
* T7: Temperatura en el cuarto de planchado en grados celsius
* RH_7: Humedad en el cuarto de planchado en el porcentaje
* T8: Temperatura en el cuarto de hijo 2 en grados celsius
* RH_8: Humedad en el cuarto de hijo 2 en porcentaje
* T9: Temperatura en el cuarto de los padres en grados celsius
* RH_9: Humedad en el cuarto de los padres en porcentaje
* To: Temperatura externa (de la estación de clima Chiervres) en grados celsius
* Pressure: Presión en mm Hg desde la estación de clima Chievres
* RH_out: Humedad externa desde la estación de clima Chievres en porcentaje
* Wind speed: Velocidad del viento en m/s desde la estación de clima Chievres
* Visibility: Visibilidad en km desde la estación de Chievres
* Tdewpoint: Temperatura de punto de rocío desde la estación de Chievres en grados celsius ( °C)
* rv1: Variable aleatoria 1, no dimensional
* rv2: Variable aleatoria 2, no dimensional

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn.model_selection as ms
import sklearn.tree as tr
from datetime import datetime

In [2]:
np.random.seed(200831)

## EDA

In [4]:
appliances = pd.read_csv('https://raw.githubusercontent.com/chavamoon/MachineLearningExamples/main/Python/energydata_complete.csv')

In [14]:
appliances.rename(columns= { col: col.lower() for col in appliances.columns }, inplace=True)

TypeError: ignored

In [15]:
appliances.dtypes

date            object
appliances       int64
lights           int64
t1             float64
rh_1           float64
t2             float64
rh_2           float64
t3             float64
rh_3           float64
t4             float64
rh_4           float64
t5             float64
rh_5           float64
t6             float64
rh_6           float64
t7             float64
rh_7           float64
t8             float64
rh_8           float64
t9             float64
rh_9           float64
t_out          float64
press_mm_hg    float64
rh_out         float64
windspeed      float64
visibility     float64
tdewpoint      float64
rv1            float64
rv2            float64
dtype: object

In [28]:
appliances.shape

(19735, 32)

In [16]:
appliances.head()

                  date  appliances  lights  ...  tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [27]:
appliances.describe()

         appliances        lights  ...         month           day
count  19735.000000  19735.000000  ...  19735.000000  19735.000000
mean      97.694958      3.801875  ...      3.101647     16.057411
std      102.524891      7.935988  ...      1.339200      8.450998
min       10.000000      0.000000  ...      1.000000      1.000000
25%       50.000000      0.000000  ...      2.000000      9.000000
50%       60.000000      0.000000  ...      3.000000     16.000000
75%      100.000000      0.000000  ...      4.000000     23.000000
max     1080.000000     70.000000  ...      5.000000     31.000000

[8 rows x 31 columns]

In [42]:
appliances['year'] = pd.to_datetime(appliances['date']).dt.year
appliances['month'] = pd.to_datetime(appliances['date']).dt.month
appliances['day'] =  pd.to_datetime(appliances['date']).dt.day
appliances['hour'] =  pd.to_datetime(appliances['date']).dt.hour
appliances.head()

                  date  appliances  lights     t1  ...  year  month  day  hour
0  2016-01-11 17:00:00          60      30  19.89  ...  2016      1   11    17
1  2016-01-11 17:10:00          60      30  19.89  ...  2016      1   11    17
2  2016-01-11 17:20:00          50      30  19.89  ...  2016      1   11    17
3  2016-01-11 17:30:00          50      40  19.89  ...  2016      1   11    17
4  2016-01-11 17:40:00          60      40  19.89  ...  2016      1   11    17

[5 rows x 33 columns]

In [43]:
appliances.dtypes

date            object
appliances       int64
lights           int64
t1             float64
rh_1           float64
t2             float64
rh_2           float64
t3             float64
rh_3           float64
t4             float64
rh_4           float64
t5             float64
rh_5           float64
t6             float64
rh_6           float64
t7             float64
rh_7           float64
t8             float64
rh_8           float64
t9             float64
rh_9           float64
t_out          float64
press_mm_hg    float64
rh_out         float64
windspeed      float64
visibility     float64
tdewpoint      float64
rv1            float64
rv2            float64
year             int64
month            int64
day              int64
hour             int64
dtype: object

##Training

In [44]:
training_data = appliances[(appliances.date >= '2016-01-11 00:00:00') & (appliances.date <= '2016-04-27 23:55:00')]
test_data = appliances[(appliances.date >= '2016-04-28 23:55:00') & (appliances.date <= '2016-05-27 23:55:00')]
print('Training shape: ', training_data.shape, 'Test data shape: ', test_data.shape)

Training shape:  (15450, 33) Test data shape:  (4141, 33)

In [53]:
X_train = training_data.drop(['date', 'appliances', 'rv1', 'rv2', 'year'], axis=1)
X_test = test_data.drop(['date', 'appliances', 'rv1', 'rv2', 'year'], axis=1)
y_train = training_data.appliances
y_test = test_data.appliances

In [55]:
tree = tr.DecisionTreeRegressor()
cv = ms.TimeSeriesSplit(n_splits = 7)
gs = ms.GridSearchCV(estimator=tree,
                     param_grid={
                        'max_depth': [5, 10, 15, 20],
                        'criterion': ['mse', 'mae'],
                        'min_samples_leaf': [5, 7, 9, 11]
                      },
                     cv=cv,
                     scoring= 'neg_root_mean_squared_error'
                     )

In [56]:
regm = gs.fit(X_train, y_train)

In [60]:
#Mejor modelo
best_model = regm.best_estimator_
best_model

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mae', max_depth=5,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=11, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [85]:
regm.best_params_

{'criterion': 'mae', 'max_depth': 5, 'min_samples_leaf': 11}

In [66]:
#Variables que aportan más al modelo
pd.DataFrame.from_dict({'features': X_train.columns.values , 'importances': best_model.feature_importances_}).sort_values(by='importances', ascending=False).head()

       features  importances
27         hour     0.688641
5            t3     0.097890
6          rh_3     0.059032
15           t8     0.056759
20  press_mm_hg     0.043475

##Predicciones

In [74]:
y_prediction = best_model.predict(X_test)
y_prediction[-5:]

array([110., 110., 110., 110., 110.])

##Métricas de desempeño

In [76]:
#RMSE
import sklearn.metrics as metr

metr.mean_squared_error(y_test, y_pred=y_prediction, squared=False)

113.96956002976589

In [77]:
#MAE
metr.mean_absolute_error(y_test, y_prediction)

65.9188601787008

In [81]:
#Residuales
residuals = pd.DataFrame.from_dict({'real': y_test, 'prediction': y_prediction, 'residual': y_test-y_prediction})

#peores residuales
residuals.sort_values(by='residual', ascending=False).head()

       real  prediction  residual
15798   840        60.0     780.0
19582   850       100.0     750.0
15664   780        80.0     700.0
15799   700        60.0     640.0
16647   670        50.0     620.0

In [84]:
#a que variable corresponde el peor residual
test_data[test_data.appliances == 840]

                      date  appliances  lights     t1  ...  year  month  day  hour
15798  2016-04-30 10:00:00         840       0  21.39  ...  2016      4   30    10

[1 rows x 33 columns]